.container{
  height: 800px;
  padding: 0;
}
.box-absolute{
  position: absolute;
  height: 50px;
  width: 250px;
  background: #4aaaa5;
  bottom: 400px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;


}
