body{

  margin: 0;
  padding: 0;
  text-align: center;
  display: block;

}
body{
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* background: #ffd0a8; */
  color: #333;
  font-family: 'calibri, sans=serif';
  font-weight: 400;
  text-transform: capitalize;
  background-image: url(/Users/zacharycohen/Desktop/Basic-Portfolio/assets/images/clean_textile_@2X.png);


}
header{
  font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: #ffffff;
  height: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #777777;


}

h1{
  color: #fff;
}

.innerHeader{
  background-color: #4aaaa5;
  width: 17%;
  margin-left: 14%;
  height: 100%;
  float: left;
}
 li{
  float: left;
}
.container{
  background: #fff;
  position: static;
  width: 960px;
  margin-left: 217px;
  height: 500px;
  color: #4aaaa5;
}
.container img{
  float: left;
  height: 200px;
  width: 200px;
  padding-right: 20px;
}
.container h1{
  text-align: left;
  justify-content: center;
  padding-top: 50px;
  padding-left: 30px;
  color: #4aaaa5;
}
.container p{
text-align: left;
color: #777777;
}
hr {
  background-color: #dddddd;
  height: 1px;
   border: 0;
   width: 90%;
   margin-left: 10px;
 }
