

body{

  margin: 0;
  padding: 0;
  /* text-align: center; */
  display: block;
  text-decoration: none;

}
body{
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* background: #ffd0a8; */
  color: #333;
  font-family: 'calibri, sans=serif';
  font-weight: 400;
  text-transform: capitalize;
  background-image: url(/Users/zacharycohen/Desktop/Basic-Portfolio/assets/images/clean_textile_@2X.png);


}
a:link{
  color:#777777;
}
a:visited{
  color:#777777;
}
a:hover{
  color:#777777;
}
a:focus{
  color:#777777;
}
a:active{
  color:#777777;
}

header{
  font-family: 'Georgia', Times, Times New Roman, serif;
  background-color: #ffffff;
  height: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #777777;
  border-bottom: 2px solid #dddddd;


}


h1{
  color: #fff;
}
nav a{
  display: table;
  float: left;
  padding: 35px;
  text-decoration: none;

}
nav a:hover{
  color: #4aaaa5;
}
nav{
  float: left;
  position: absolute;
  left: 800px;

}
nav ul li{
  list-style-type: none;
}

.portfolio{
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding-left: 10px;
  padding-right: 10px;

}
.about{
  margin-right: -20px;
}
.contact{
  margin-left: -10px;
}

.innerHeader{
  background-color: #4aaaa5;
  width: 17%;
  margin-left: 14%;
  height: 100%;
  float: left;
}



.container{
  background: #fff;
  position: static;
  width: 960px;
  margin-left: 200px;
  height: 500px;
  color: #4aaaa5;
  border: 1px solid #dddddd;
  padding: 10px;
}
.container img{
  float: left;
  height: 200px;
  width: 200px;
  padding-right: 23px;
}
.container h1{
  text-align: left;
  justify-content: center;
  padding-top: 15px;
  padding-left: 30px;
  color: #4aaaa5;
}
.container p{
/* text-align: center; */
color: #777777;
line-height: 30px;
font-size: 17px;
}
hr {
  background-color: #dddddd;
  height: 3px;
   border: 5px;
   width: 90%;
   margin-left: 30px;
 }
 footer{
   height: 3rem;
   background: #666666;
   width: 100%;
   position: absolute;
   bottom: 0px;
   border-top: 10px solid #4aaaa5;
   color: #fff;
   text-align: center;
 }
